<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Outfits</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idOutfit</mat-label>
          <input matInput placeholder="Id" formControlName="idOutfit" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Outfit</mat-label>
          <input matInput placeholder="Nombre" formControlName="nameOutfit" />
          <mat-error
            *ngIf="obtenerControlCampo('nameOutfit')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Número de Prendas</mat-label>
          <mat-select formControlName="clothesNumber">
            <mat-option value=1>1</mat-option>
            <mat-option value=2>2</mat-option>
            <mat-option value=3>3</mat-option>
            <mat-option value=4>4</mat-option>
            <mat-option value=5>5</mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('clothesNumber')?.errors?.['required']"
          >
            El número de prendas es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Estilo Outfit</mat-label>
          <input
            matInput
            placeholder="estilo"
            formControlName="styleOutfit"
          />
          <mat-error
            *ngIf="obtenerControlCampo('styleOutfit')?.errors?.['required']"
          >
            El estilo del outfit es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" class="example-full-width">
          <input
            matInput
            placeholder="Ingrese fecha"
            [matDatepicker]="picker"
            formControlName="creationDate"
            [max]="maxFecha"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="obtenerControlCampo('creationDate')?.errors?.['required']"
          >
            La fecha es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Catálogo</mat-label>
          <mat-select formControlName="catalog">
            <mat-option *ngFor="let c of listaCatalog" [value]="c.idCatalog">{{c.idCatalog}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('catalog')?.errors?.['required']"
          >
            El estilo del outfit es obligatorio.
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/outfits">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
