<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h2 style="text-align: center">Lista de Marcas</h2>
      <div style="text-align: right">
        <button *ngIf="role=='ADMIN'" mat-raised-button color="primary" routerLink="components/brands/nuevo">Nuevo</button>
      </div>
      <mat-form-field>
        <input matInput (keyup)="filter($event)" placeholder="buscar" />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="idMarca">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{element.idBrand}}</td>
        </ng-container>

        <ng-container matColumnDef="nombreMarca">
          <th mat-header-cell *matHeaderCellDef>Nombre de la Marca</th>
          <td mat-cell *matCellDef="let element">{{element.nameBrand}}</td>
        </ng-container>

        <ng-container matColumnDef="pais">
          <th mat-header-cell *matHeaderCellDef>Pais</th>
          <td mat-cell *matCellDef="let element">{{element.country}}</td>
        </ng-container>

        <ng-container matColumnDef="webSite">
          <th mat-header-cell *matHeaderCellDef>Website</th>
          <td mat-cell *matCellDef="let element">{{element.webSite}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripcion</th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>

        <ng-container matColumnDef="tags">
          <th mat-header-cell *matHeaderCellDef>Tags</th>
          <td mat-cell *matCellDef="let element">{{element.tags}}</td>
        </ng-container>

        <ng-container matColumnDef="accion2">
          <th mat-header-cell *matHeaderCellDef>Accion actualiza</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="accent" [routerLink]="['ediciones',element.idBrand]">ACTUALIZAR</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef>Accion Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" (click)="eliminar(element.idBrand)">BORRAR</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
      </table>
      <mat-paginator
      [pageSizeOptions]="[5,10,25,100]"
      showFirstLastButtons>
      </mat-paginator>
    </div>
  </body>
</html>
