<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Recomendaciones</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Id</mat-label>
          <input matInput placeholder="Id" formControlName="idRecommendations" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Título</mat-label>
          <input matInput placeholder="Título" formControlName="title" />
          <mat-error
            *ngIf="obtenerControlCampo('title')?.errors?.['required']"
          >
            El título es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Calificación</mat-label>
          <mat-select formControlName="calification">
            <mat-option value=1>1</mat-option>
            <mat-option value=2>2</mat-option>
            <mat-option value=3>3</mat-option>
            <mat-option value=4>4</mat-option>
            <mat-option value=5>5</mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('calification')?.errors?.['required']"
          >
            El número de prendas es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Link Adicional</mat-label>
          <input
            matInput
            placeholder="link"
            formControlName="addicionalLink"
          />
          <mat-error
            *ngIf="obtenerControlCampo('addicionalLink')?.errors?.['required']"
          >
            El link debe ser válido
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Tag</mat-label>
          <input
            matInput
            placeholder="#ejemplo"
            formControlName="categoryTag"
          />
          <mat-error
            *ngIf="obtenerControlCampo('categoryTag')?.errors?.['required']"
          >
            El tag es obligatorio
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="users">
            <mat-option *ngFor="let c of listaUsers" [value]="c.idUser">{{c.username}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('users')?.errors?.['required']"
          >
            El estilo del outfit es obligatorio.
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/recommendations">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
