<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Usuarios</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idUsuario</mat-label>
          <input matInput placeholder="Id" formControlName="idUser" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nameUser" />
          <mat-error
            *ngIf="obtenerControlCampo('nameUser')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" formControlName="lastNameUser" />
          <mat-error
            *ngIf="obtenerControlCampo('lastNameUser')?.errors?.['required']"
          >
            El apellido es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Av. Ejemplo" formControlName="addressUser" />
          <mat-error
            *ngIf="obtenerControlCampo('addressUser')?.errors?.['required']"
          >
            La dirección es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" class="example-full-width">
          <input
            matInput
            placeholder="Ingrese fecha"
            [matDatepicker]="picker"
            formControlName="birthDate"
            [max]="maxFecha"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="obtenerControlCampo('birthDate')?.errors?.['required']"
          >
            La fecha es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Número de Tarjeta</mat-label>
          <input matInput placeholder="0000000000000000" formControlName="cardUser" />
          <mat-error
            *ngIf="obtenerControlCampo('cardUser')?.errors?.['required']"
          >
            El número de tarjeta debe ser válido.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Nombre" formControlName="telephoneUser" />
          <mat-error
            *ngIf="obtenerControlCampo('telephoneUser')?.errors?.['required']"
          >
            El teléfono es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre de Usuario</mat-label>
          <input matInput placeholder="username" formControlName="username" />
          <mat-error
            *ngIf="obtenerControlCampo('username')?.errors?.['required']"
          >
            El nombre de usuario es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="password" formControlName="password" />
          <mat-error
            *ngIf="obtenerControlCampo('password')?.errors?.['required']"
          >
            La contraseña es obligatoria.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="ejemplo@example.ex" formControlName="mail" />
          <mat-error
            *ngIf="obtenerControlCampo('mail')?.errors?.['required']"
          >
            El correo es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field  class="example-full-width">
          <mat-label>Habilitado</mat-label>
          <mat-select formControlName="enabled">
            <mat-option [value]= "true">Habilitado</mat-option>
            <mat-option [value]= "false">Inhabilitado</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/users">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
