<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de Armarios</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>idCloset</mat-label>
          <input matInput placeholder="Id" formControlName="idCloset" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre Closet</mat-label>
          <input matInput placeholder="Closet" formControlName="nameCloset" />
          <mat-error
            *ngIf="obtenerControlCampo('nameCloset')?.errors?.['required']"
          >
            El nombre del armario es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Estilo Closet</mat-label>
          <mat-select formControlName="styleCloset">
            <mat-option value="Estilo 1">1</mat-option>
            <mat-option value="Estilo 2">2</mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('styleCloset')?.errors?.['required']"
          >
            El estilo del armario es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input
            matInput
            placeholder="usuario"
            formControlName="users"
          />
          <mat-error
            *ngIf="obtenerControlCampo('users')?.errors?.['required']"
          >
            El dueño del armario es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/components/closets">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
